p {
  color: white;
}

#section2 {
  height: 100vh;
  width: 100%;
}

#section3 {
  height: 100vh;
  width: 100%;
}

#section4 {
  background-color: white;
  height: 100vh;
  width: 100%;
}

.container-that-contain-your-thing {
  display: flex;
  justify-content: center;
  align-items: center;
}
