<section class="section3">
  <div class="container min-vh-100 d-flex align-items-center">
    <div class="row">
      <div class="col text-center">
        <img src="assets/teropong.png" alt="" style="width: 150px" />
        <h3>CALT</h3>
        <p>Morissette-Kirlin</p>
        <img src="assets/network.png" alt="" style="width: 150px" />
        <h3>CALT</h3>
        <p>Morissette-Kirlin</p>
      </div>
      <div class="col text-center">
        <img src="assets/teropong.png" alt="" style="width: 150px" />
        <h3>CALT</h3>
        <p>Morissette-Kirlin</p>
        <img src="assets/network.png" alt="" style="width: 150px" />
        <h3>CALT</h3>
        <p>Morissette-Kirlin</p>
      </div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
  </div>
</section>

<!-- absdjabkda -->

<div class="row min-vh-100">
  <div class="col-md-6 bg-dark">
    <h2>GNU/ Linux</h2>
    <p>
      I'd just like to interject for a moment. What you're refering to as Linux, is in fact, GNU/Linux, or as I've recently taken to calling it, GNU plus Linux. Linux is not an operating system unto itself, but rather another free component
      of a fully functioning GNU system made useful by the GNU corelibs, shell utilities and vital system components comprising a full OS as defined by POSIX. Many computer users run a modified version of the GNU system every day, without
      realizing it. Through a peculiar turn of events, the version of GNU which is widely used today is often called Linux, and many of its users are not aware that it is basically the GNU system, developed by the GNU Project. There really
      is a Linux, and these people are using it, but it is just a part of the system they use. Linux is the kernel: the program in the system that allocates the machine's resources to the other programs that you run. The kernel is an
      essential part of an operating system, but useless by itself; it can only function in the context of a complete operating system. Linux is normally used in combination with the GNU operating system: the whole system is basically GNU
      with Linux added, or GNU/Linux. All the so-called Linux distributions are really distributions of GNU/Linux!
    </p>
  </div>
  <div class="col-md-6" style="background: red">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/cat1.jfif" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="assets/cat2.jfif" class="d-block w-100" alt="..." />
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
